{% extends "base.html" %}

{% block content %}
    {% for item in items %}
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <h3><div class="label label-default center-block">{{item}}</div></h3>
            <div class="panel panel-default">
              <div class="panel-heading">legend</div>
              <div class="panel-body" id="chart_legend_{{ item }}"></div>
            </div>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <canvas id="chart_{{ item }}"></canvas>
        </div>
    </div>
    <hr class="divider">
    {% endfor %}
{% endblock %}


{% block extra_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/pc.js') }}"></script>
{% endblock %}
