{% extends "base.html" %}

{% block content %}
<form id="new_item">
    <div class="input-group">
        <label for="item_name">name</label>
        <input name="item" type="text" class="form-control" id="item_name" placeholder="item name">
    </div>

    <div class="form-group">
        <label for="stores">stores</label>
        <textarea name="stores" class="form-control" rows="5" id="stores"
                placeholder='{ "store_1": "http://store_1.item_name.com", "store_2": "http://store_2.item_name.com" }'></textarea>
    </div>

    <button type="submit" class="btn btn-primary pull-right">register</button>
</form>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/new_item.js') }}"></script>
{% endblock %}