{% extends "base.html" %}

{% block content %}
<form id="new_item">
    <div class="form-group col-xs-10">
        <label for="item_name">name</label>
        <input name="item" type="text" class="form-control" id="item_name" placeholder="item name">
    </div>

    <div class="form-group col-xs-10">
        <label for="stores">stores</label>
        <textarea name="stores" class="form-control" rows="9" id="stores" >
{
"skroutz" : "url",
"eshop" : "url",
"kotsovolos": "url",
"media-markt": "url",
"plaisio": "url",
"best-price": "url"
}
        </textarea>
    </div>

    <div class="col-xs-10">
        <button type="submit" class="btn btn-primary pull-right">register</button>
    </div>

</form>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/new_item.js') }}"></script>
{% endblock %}